body {
    font-size: 1.5rem;
    margin: 0;
}

div.container {
    
}

div.site_title, div.sub_title {
    font: courier;
    font-weight: bold;
    color: #000000;
    background-color: #ff0000;
    padding: 16px;
    text-align: center;
}

div.site_title {
    font-size: 48px;
}

div.sub_title {
    font-size: 32px;
}